

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #d3e7e5;
    width:20rem;
    height: 20rem;
    border-radius: 15px;
    margin-left: 6rem;
    margin-top: 5rem;
    margin-bottom: 8rem;
    box-shadow: 1px 4px 20px -1px rgba(0,0,0,0.75);
}


.inputLogin{

    padding: 8px;
    margin: 10px;
    border: none;
    background-color:white;
    border-radius: 10px;

}

#buttonLogin{
    width: 6rem;
    padding: 10px;
    background-color: rgb(17, 131, 131);
}

#buttonLogin:active{
    transform: scale(0.95);
}

#buttonLogin:hover {
    background-color: rgb(9, 46, 46);
}

