#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}


body {
  background: linear-gradient( to left, rgb(21, 141, 145), rgb(101, 151, 153),rgb(157, 161, 163));
  background-size: 400%;
  animation: cambiarColor 20s ease-in alternate infinite;
}

@keyframes cambiarColor {
  0%{
    background-position: 25% 50%;
  } 
  50%{
    background-position: 50% 75%;
  }
  100% {
    background-position: 75% 100%;
  }
  
}


.conteiner{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.titleSecondary_list{
  margin:30px;
  margin-top: 10px;
  color: aliceblue;
  font-size: 45px;
  font-weight: bold;

}


.noList{
  color:aliceblue;
  font-size: 30px;
  font-weight: bold;
  margin-top: 50px;
}


